/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(62, 20, 58, 0.4), rgba(62, 20, 58, 0.4)), url('../assets/back.jpg');
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    height: 100vh;
    color: #555;
    display: flex;
    justify-content: space-around;
}

.wrapper {
    width: 1000px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    align-self: center;
    justify-content: space-between;
    position: relative;
}

.player-0-panel, .player-1-panel, .extras {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.player-0-panel {
    order: 0;
    flex: 1;
    padding: 50px 30px;
}

.player-1-panel {
    order: 1;
    flex: 1;
    padding: 50px 30px;
}

.extras {
    padding: 30px 0;
    position: absolute;
    left: 400px;
}

/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-bottom: 10px;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active {
    background-color: #f7f7f7;
}

.active .player-name {
    font-weight: 300;
}

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
}

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

button {
    width: 200px;
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    font-weight: 600;
}

button:hover ion-icon {
    margin-right: 20px;
}

button:focus {
    outline: none;
}

ion-icon {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 26px;
    line-height: 1;
    vertical-align: text-top;
    transition: margin 0.3s;
}

.dice {
    height: 100px;
    width: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    margin: 0 auto;
}

.btn-roll {
    margin-top: 70px;
}

.winner {
    background-color: #f7f7f7;
}

.winner .player-name {
    font-weight: 300;
    color: #EB4D4D;
}

.btn-rules {
    width: auto;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.rules {
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 30px;
    height: 600px;
    width: 1000px;
    display: flex;
    align-self: center;
    flex-direction: column;
    visibility: hidden;
}

.rules ion-icon {
    color: white;
    position: absolute;
    right: 10px;
    top: 15px;
}

.rules ul {
    list-style: none;
    font-size: 1.2em;
    margin-top: 30px;
    line-height: 1.7;
}

.rules ul li::before {
    content: '- ';
}

.btn-close:hover {
    cursor: pointer;
}